*{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align: left;
}

h3{
    padding-top: 24px;
    padding-bottom: 8px;
}


p{
    text-align: left;
}

video{
    width: 60%;
    height: auto;
}

#thumbnail{
    width: 35%;
    margin: 16px;
}

#small-title{
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

/* header */

.logo{
    display: inline-block;
    margin-left: 24px;
    }

.name{
    font-size: 30px;
    display: inline-block;
    padding-top:10px
}

#navbar{
    margin-right: 24px;
}

ul > li {
    padding-top:10px;
    padding-left: 16px;
    display: inline-block;
}

#header{
    position: sticky; 
    top:0;
    height: 64px;
    background-color: white;
}

nav{
    float: right;
  }
  

/* opening */

#opening{
    background-color: grey;
}


#opening p{
    text-align: left;
}

#large-image{
    width: 35%;
    padding: 32px 24px;
    /* max-width: 100%; */
    /* height: auto; */
    overflow: hidden;
}

.button{
    padding: 8px 120px;
    background-color: #0c3e52;
    color: #fff;
    font-size: large;
}

#opening-text{
    margin: auto 0;
}

/* intro */
#intro{
    background-color: yellow;
}

#intro p, a{
    margin-top: 8px;
    margin-bottom: 8px;
}

#title{
    margin-top: 32px;
    font-weight: bold;
}

/* cards */
#cards{
    padding-left: 72px;
    padding-right: 72px;
}

#individual-card{
    margin-bottom: 32px;
}


/* thesis exhibit */
#exhibit{
    background-color:blue;
}

#left-col-thesis{
    background-color:yellow;
}

#right-col-exhibit{
    background-color:greenyellow;
}

#exhibit p, a{
    margin-top: 8px;
    margin-bottom: 8px;
}

#left-col-thesis p{
    padding-bottom: 16px;
}

